apiVersion: v1
kind: Service
metadata:
  name: admin-service
  namespace: opscraft
  labels:
    app: admin-service
spec:
  type: ClusterIP
  ports:
    - port: 8006
      targetPort: 8006
      protocol: TCP
      name: http
  selector:
    app: admin-service
