apiVersion: v1
kind: Service
metadata:
  name: approval-service
  namespace: opscraft
  labels:
    app: approval-service
spec:
  type: ClusterIP
  ports:
    - port: 8008
      targetPort: 8008
      protocol: TCP
      name: http
  selector:
    app: approval-service
