apiVersion: v1
kind: Service
metadata:
  name: audit-service
  namespace: opscraft
  labels:
    app: audit-service
spec:
  type: ClusterIP
  ports:
    - port: 8009
      targetPort: 8009
      protocol: TCP
      name: http
  selector:
    app: audit-service
