apiVersion: v1
kind: Service
metadata:
  name: execution-service
  namespace: opscraft
  labels:
    app: execution-service
spec:
  type: ClusterIP
  ports:
    - port: 8003
      targetPort: 8003
      protocol: TCP
      name: http
  selector:
    app: execution-service
