apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: opscraft
  labels:
    app: notification-service
spec:
  type: ClusterIP
  ports:
    - port: 8005
      targetPort: 8005
      protocol: TCP
      name: http
  selector:
    app: notification-service
