apiVersion: v1
kind: Service
metadata:
  name: scheduler-service
  namespace: opscraft
  labels:
    app: scheduler-service
spec:
  type: ClusterIP
  ports:
    - port: 8007
      targetPort: 8007
      protocol: TCP
      name: http
  selector:
    app: scheduler-service
