apiVersion: v1
kind: Service
metadata:
  name: secret-service
  namespace: opscraft
  labels:
    app: secret-service
spec:
  type: ClusterIP
  ports:
    - port: 8004
      targetPort: 8004
      protocol: TCP
      name: http
  selector:
    app: secret-service
